body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.header {
    background-image: url(image/attractions.png);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-name {
    color: #fff;
    font-size: 54px;
    font-weight: 300;
    text-align: center;
    padding-top: 200px;
}


.main {
    background-color: #fff;
    width: 100%;
    height: 3000px;
}

.attraction {
    font-size: 20px;
    align-items: center;
    display: flex;
    margin: 100px;
}

.attraction-text {
    margin-left: 40px;
}
.attraction-img {
    width: 450px;
    height: 300px;
}

@media (max-width: 480px) {

}

@media (max-width: 767px) {
    * {
        max-width: none;
    }
    .header-name {
        font-size: 20px;
        padding-top: 30px;
    }
    .header {
        height: 200px;
    }
    .attraction {
        font-size: 14px;
    }
    .attraction-img {
        width: 225px;
        height: 150px;
    }
}

@media (max-width: 767px) {

}


@media (max-width: 767px) {

}

